/* ==========================================================================
    #4 Boutons vraiment cool
   ========================================================================== */

.number-4 {
    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
