<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Exercice Icônes et pseudos-éléments</title>

        <link rel="stylesheet" href="styles/main.css" />

        <script src="scripts/main.js" defer></script>
    </head>

    <body>
        <header class="header">
            <div class="wrapper">
                <h1><span>Icônes</span> et <span>pseudos-éléments</span></h1>
            </div>
        </header>

        <!-- Question -->
        <section class="number number-1">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 1 - Un menu avec icône</h2>
                    <p>Reproduisez la mise en page en suivant les consignes du readme.md</p>
                    <img src="assets/images/demo/ex1.png" alt="capture du numéro 1" class="number__capture" />
                </header>
                <div class="number__content">{% include '_partials/number1.html' %}</div>
            </div>
        </section>

        <!-- Question -->
        <section class="number number-2">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 2 - Menu réseaux sociaux</h2>
                    <p>Reproduisez la mise en page en suivant les consignes du readme.md</p>
                    <div class="number__header_demo">
                        <img src="assets/images/demo/ex2.gif" alt="capture du numéro 2" class="number__capture" />
                    </div>
                </header>
                <div class="number__content">{% include '_partials/number2.html' %}</div>
            </div>
        </section>

        <!-- Question -->
        <section class="number number-3">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 3 - Un menu plusssse intéressant</h2>
                    <p>Reproduisez la mise en page en suivant les consignes du readme.md</p>
                    <div class="number__header_demo">
                        <img src="assets/images/demo/ex3a.gif" alt="capture du numéro 2" class="number__capture" />
                        <img src="assets/images/demo/ex3b.gif" alt="capture du numéro 2" class="number__capture" />
                        <img src="assets/images/demo/ex3c.gif" alt="capture du numéro 2" class="number__capture" />
                    </div>
                </header>
                <div class="number__content">{% include '_partials/number3.html' %}</div>
            </div>
        </section>

        <!-- Question -->
        <section class="number number-4">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 4 - Des boutons vraiment cool</h2>
                    <p>Reproduisez la mise en page en suivant les consignes du readme.md</p>
                    <div class="number__header_demo">
                        <img src="assets/images/demo/ex4.gif" alt="capture du numéro 2" class="number__capture" />
                    </div>
                </header>
                <div class="number__content">{% include '_partials/number4.html' %}</div>
            </div>
        </section>

        <!-- Question -->
        <section class="number number-5">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 5 - Cartes interactives</h2>
                    <p>Reproduisez la mise en page en suivant les consignes du readme.md</p>
                    <div class="number__header_demo">
                        <img src="assets/images/demo/ex5.gif" alt="capture du numéro 5" class="number__capture" />
                    </div>
                </header>
                <div class="number__content">{% include '_partials/number5.html' %}</div>
            </div>
        </section>

        <!-- Question -->
        <section class="number number-6">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 6 - Liens identifiés</h2>
                    <p>Reproduisez la mise en page en suivant les consignes du readme.md</p>
                    <div class="number__header_demo">
                        <img src="assets/images/demo/ex6.png" alt="capture du numéro 6" class="number__capture" />
                    </div>
                </header>
                <div class="number__content">{% include '_partials/number6.html' %}</div>
            </div>
        </section>

        <!-- Question -->
        <section class="number number-7">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 7 - Citations « big and bold »</h2>
                    <p>Reproduisez la mise en page en suivant les consignes du readme.md</p>

                    <img src="assets/images/demo/ex7.png" alt="capture du numéro 7" class="number__capture" />
                </header>
                <div class="number__content">{% include '_partials/number7.html' %}</div>
            </div>
        </section>
        <!-- Question -->
        <section class="number number-8">
            <div class="wrapper">
                <header class="number__header">
                    <h2>Numéro 8 - Défi supplémentaire</h2>
                    <p>
                        Vous devez faire 3 nouvelles animations, une de type lien, une de type bouton et une de type
                        carte.
                    </p>
                </header>
                <div class="number__content">{% include '_partials/number8.html' %}</div>
            </div>
        </section>
    </body>
</html>
